.education-details-container {
  margin: 20px auto;
  padding: 20px;
  width: 70%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

@media (max-width: 768px) {
  .education-details-container {
    padding: 10px;
    margin: 10px auto;
  }
}

.education-details-container th,
.education-details-container td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

.education-details-container thead th {
  font-weight: bold;
}

.education-details-container tbody td {
  background-color: #f9f9f9;
}

.education-details-container tbody tr:hover {
  background-color: #ddd;
}

.education-info-section {
  background-color: #ff3939;
  color: #f0f0f0;
  font-weight: bold;
  text-align: center;
}
