.education-details-container {
  margin: 20px auto;
  padding: 20px;
  width: 70%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

@media (max-width: 768px) {
  .education-details-container {
    padding: 10px;
    margin: 10px auto;
  }
}

.education-details-container th,
.education-details-container td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

.education-details-container thead th {
  font-weight: bold;
}

.education-details-container tbody td {
  background-color: #f9f9f9;
}

.education-details-container tbody tr:hover {
  background-color: #ddd;
}

.education-info-section {
  background-color: #ff3939;
  color: #f0f0f0;
  font-weight: bold;
  text-align: center;
}

.modal.is-active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Yarı saydam arka plan */
  z-index: 1000; /* Diğer elementlerin önünde */
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff; /* Modal arka planını kaplaması için */
  opacity: 0.5;
}

.modal-card {
  position: relative;
  margin: auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 500px; /* Modal kartının maksimum genişliği */
}

.modal-card-head {
  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-card-title {
  font-size: 20px;
  font-weight: bold;
}

.delete {
  cursor: pointer;
  border: none;
  background: transparent;
}

.modal-card-body {
  padding: 20px;
}

.input,
.textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px; /* Inputlar arasında boşluk */
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button {
  padding: 10px 15px;
  margin-right: 10px; /* Butonlar arası boşluk */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button.is-success {
  background-color: #48c774;
  color: white;
}

.button:hover {
  opacity: 0.9;
}

.modal-card-foot {
  padding: 12px 20px;
  border-top: 1px solid #ddd;
  text-align: right;
}
