/* LoginPage.jsx */
.login-form-controller {
  max-width: 400px; 
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc; 
  border-radius: 4px;
}

.login-field {
  margin-bottom: 15px;
}

.login-label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px; 
  font-weight: bold;
}

.login-control {
  width: 100%;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

.login-button {
  width: 100%;
  background-color: #4caf50; 
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; 
}

.login-button:hover {
  background-color: #45a049; 
}

.remember-me-checkbox {
  margin-bottom: 15px;
}

.forgot-password-link {
  color: #0095ff; 
  text-decoration: none;
  font-size: 14px; 
  display: block; 
  margin-bottom: 15px;
}


.navbar {
  background-color: #fff; 
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.navbar-brand .navbar-item img {
  max-height: 28px; 
}

.navbar-menu {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 10px;
}

.navbar-item {
  padding: 10px 15px;
  color: #4a4a4a; 
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold; 
}

.navbar-burger {
  color: #4a4a4a; 
}

.navbar-item.has-dropdown:hover .navbar-dropdown {
  display: block; /
}

.navbar-dropdown {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: none; 
}

.navbar-end .navbar-item {
  padding: 10px 15px;
}

/* Navbar.jsx */

/*  Personels.jsx   */

.personel-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Arial", sans-serif;
}

.personel-thead {
  color: #fff;
}

.personel-th {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.personel-tr:nth-child(even) {
  background-color: #f2f2f2; 
}

.personel-td {
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}

.personel-img {
  width: 100px; 
  height: auto;
  border-radius: 50%; 
}

/*  Personels.jsx   */


.cards-wrapper {
  display: flex;
  justify-content: center; /* Centers the cards horizontally in the container */
  gap: 20px; /* Adds space between the cards */
  flex-wrap: wrap; /* Allows cards to wrap to the next line on smaller screens */
  margin: 16px 0; /* Adds vertical margin for spacing */
}

.cards-container {
  display: flex; /* This will line up the children (cards) side by side */
  justify-content: center; /* This will center the cards horizontally */
  align-items: center; /* This will center the cards vertically */
  flex-wrap: wrap; /* This allows the cards to wrap onto the next line on smaller screens */
  gap: 20px; /* This gives space between the cards */
}

.personel-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 10px;
  position: relative;
}

.personel-card img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.personel-card h2 {
  color: #e74c3c;
  margin-bottom: 5px;
}

.personel-card h3 {
  color: #333;
  margin-bottom: 15px;
}

.personel-card p {
  color: #777;
  margin-bottom: 5px;
}

.personel-card button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.personel-card button:first-of-type {
  left: -30px;
}

.personel-card button:last-of-type {
  right: -30px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
}

button:focus {
  outline: none;
}


.slide-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px; 
}

.slide-card {
  border: 1px solid #ccc; 
  padding: 10px;
  border-radius: 5px;
  width: 300px; 
  text-align: center;
}

.slide-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.slide-description {
  font-size: 14px;
  color: #333;
}