/* Personel.jsx */

.personel-details-container {
  margin-top: 50px;
  max-width: 800px;
  margin: 50px auto 0;
  padding: 20px;
  border: 1px solid #383838;
  border-radius: 10px;
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
}

.personal-info-section {
  margin-bottom: 20px;
}

.personal-info-section h2 {
  color: #333;
  margin-bottom: 15px;
}

.personel-photo-section {
  text-align: center;
  margin-bottom: 20px;
}

.personel-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.personal-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

.form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 16px;
}

.form-control:focus {
  border-color: #4caf50;
  outline: none;
}

/*PersonalInfo.jsx*/

.personalInfo-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  color: #4a4a4a;
}

.personalInfo-field-group {
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  margin-right: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.personalInfo-field-group:hover {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.personalInfo-field-group:last-child {
  margin-right: 0;
}

.personalInfo-section label {
  font-size: 16px;
  color: #9e9e9e;
  margin-bottom: 5px;
}

.personalInfo-section input[type="text"],
.personalInfo-section input[type="email"],
.personalInfo-section input[type="date"],
.personalInfo-section input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  transition: border 0.3s;
}

.personalInfo-section input[type="text"]:focus,
.personalInfo-section input[type="email"]:focus,
.personalInfo-section input[type="date"]:focus,
.personalInfo-section input[type="file"]:focus {
  border: 1px solid #9e9e9e;
}

@media (max-width: 768px) {
  .personalInfo-field-group {
    width: 100%;
    margin-right: 0;
  }
}

.personalInfo-save-button {
  background-color: #8bc34a;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  width: auto;
  margin: 20px auto;
  transition: background-color 0.3s;
}
.personalInfo-save-button:hover {
  background-color: #7cb342;
}

.personalInfo-personel-container,
.personalInfo-corporation-container {
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
  width: 70%;
  overflow-x: auto;
}

.personalInfo-corporation-header h2,
.personalInfo-photo-section h2 {
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 20px;
}

.personel-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*form jsx*/

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

form div {
  display: flex;
  flex-direction: column;
}

form div label {
  font-weight: bold;
  margin-bottom: 5px;
}

form div input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

form div {
  display: flex;
  flex-direction: column;
}

form div label {
  font-weight: bold;
  margin-bottom: 5px;
}

form div input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}
