.file-container {
  margin: 20px auto;
  padding: 20px;
  width: 70%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #383838;
  border-radius: 10px;
  overflow-x: auto;
}

.file-details-container {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.file-details-container td,
.file-details-container th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.file-details-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.file-details-container tr:hover {
  background-color: #ddd;
}

.file-info-section {
  font-weight: bold;
  background-color: #f9f9f9;
}

.file-info {
  margin-bottom: 5px;
}

.file-info p {
  margin: 0;
  padding: 5px;
  background-color: #e7e7e7;
  border-radius: 2px;
}
